*{
    margin: 0;
}
header{
    width: 100vw;
    height: 600px;
    background-color: rgb(31, 31, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    width: 90%;
    font-size: 50pt;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
header p{
    width: 90%;
    font-size: 35pt;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(127, 127, 211);
}
#login{
    border: 2px solid black;
    border-radius: 10px;
    width: 50% ;
    height: 90%;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    
}
.form div:nth-child(1){
    font-size: 20pt;
}


#login p:nth-child(3){
    font-size: 20pt;
}
.entrada input{
    height: 25px;

}
button{
    width: 200px;
    height: 30px;
    font-size: 18pt;
    align-self: center;
}
#mainCadastro{
    height: 600px;
}

#cadastro{
    width: 40%;
    height: 400px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form div:nth-child(2){
    padding: 8px;
}
form div:nth-child(3){
    padding: 8px;
}
form div:nth-child(4){
    padding: 8px;
}
form div:nth-child(5){
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inputRadio{
    padding: 10px;
}
form div:nth-child(6){
    padding: 10px;
}